<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Japanese Lorem Ipsum</title>
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css">
</head>
<body>
    <h1>Japanese Lorem Ipsum</h1>
    <p><%= jp_lorem_name %></p>
    <p><%= jp_lorem_name_pinyin %></p>
    <p><%= jp_lorem_first_name %></p>
    <p><%= jp_lorem_first_name_pinyin %></p>
    <p><%= jp_lorem_last_name %></p>
    <p><%= jp_lorem_last_name_pinyin %></p>
    <p><%= jp_lorem_email %></p>
    <p><%= jp_lorem_word %></p>
    <p><%= jp_lorem_words(5) %></p>
    <p><%= jp_lorem_sentence %></p>
    <p><%= jp_lorem_sentences(4) %></p>
    <p><%= jp_lorem_paragraph %></p>
    <p><%= jp_lorem_paragraphs(3) %></p>
</body>
</html>
